#main
{
    background-color: rgb(47, 107, 125);

    margin-left: 100px;
    margin-right: 100px;
    color: white;
    display: flex;
    overflow: hidden;
    height: 200px;

}
#info
{
  
    margin: 5px;
    max-width: 25%;
    margin-left: auto;
    overflow: hidden;
    
}
p
{
   
    font-size: 14px;
    margin-bottom:-10px;
  
}
h4
{
    margin-bottom:-10px;
    font-size: 15px;
   
}
h1
{



    font-size: 60px;
    margin-bottom: -50px;

    
 
}
#name
{
    
    margin-left: 20%;
    margin-top: 1%;
    

}
#bottom
{
    background-color: white;
    margin-left: 100px;
    margin-right: 100px;
    border: 2px solid rgb(47, 107, 125);
    height: 600px;
}
h2
{

    
    margin-left: 100px;
    margin-bottom: -10px;
    border-bottom:2px solid gray;
    width: 85%;
}
#first
{
    margin-left: 100px;
    margin-right: 100px;
   
    justify-content: center;
}
ul
{
    margin-left: 100px;
    margin-bottom: -15px;

 height: 130px;
    overflow: hidden;
   
}

.down
{
    font-size: 10px;

margin-top: 0px;
margin-bottom: 5px;
    
}
li
{
    
    font-weight: bold;
}
#another
{
    height: 50px;
}
